!!!5
%html
  %head
    %meta{charset: "utf-8"}
    %title Minesweeper
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "stylesheet", href: "vendor/bootstrap/css/bootstrap.css"}
    %link{rel: "stylesheet", href: "vendor/bootstrap/css/bootstrap-responsive.css"}
    %link{rel: "stylesheet", href: "app.css"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand Minesweeper

    .container
      #playarea
        .btn-toolbar
          .btn-group#newGameControl
            %a.btn.btn-success New game
            %a.btn.btn-success.dropdown-toggle{data: {toggle: "dropdown"}}
              %span.caret
            %ul.dropdown-menu
              %li{data: {difficulty: "EASY"}}
                %a Easy
              %li{data: {difficulty: "NORMAL"}}
                %a Normal
              %li{data: {difficulty: "HARD"}}
                %a Hard
              %li{data: {difficulty: "EXTREME"}}
                %a Extreme
          %select#sizeSelector
            %option{value: 8} Size: 8x8
            %option{value: 16} Size: 16x16
            %option{value: 32} Size: 32x32
          .btn-group
            %a.btn.btn-danger#cheat CHEAT

        #board{class: ""}

        .btn-toolbar
          .progress.progress-info.progress-striped.hidden
            .bar{style: "width: 40%"}
          %a.btn.btn-info.hidden
            Validate
        
    %script{src: "vendor/LAB.min.js"}
    :javascript
      $LAB.script("vendor/underscore-1.2.3.js")
          .script("http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
          .script("minesweeper.js?" + Math.random())
          .wait()
          .script("vendor/bootstrap/js/bootstrap.min.js")
          .script("app.js?" + Math.random());