$markedColor: pink;

.navbar {
  position: inherit;
}

#playarea table {
  tr:hover td {
    background: transparent;
  }
  td {
    padding: 0;
    &.marked {
      background: $markedColor !important; // important to override hover
    }
  }
}


#sizeSelector {
  margin-top: -13px;
  width: 100px;
}