.navbar {
  position: inherit;
}
.btn-toolbar {
  clear: both;
}

#board {
  width: 100%;

  .cell {
    box-sizing: border-box;
    float: left;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;

    &.flagged {
      background: salmon;
    }
    &.cleared {
      box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    text-align: center;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-pack: center;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &.cheating {
    .cell.mineHere {
      border-color: red;
    }
  }

  &.size-8 .cell {
    width: 10.5%;
    margin: 1%;
  }
  &.size-16 .cell {
    width: 5.75%;
    margin: 0.25%;
  }
  &.size-32 {
    .cell {
      width: 3.125%;
      margin: 0%;
      border-radius: 0;
      &:not(:last-child) {
        border-right: none;
      }
    }
    .cell-row:not(:last-child) .cell {
      border-bottom: none;
    }
  }
}

#cheat {
  color: #da4f49;
  cursor: pointer;
}

#sizeSelector {
  margin-top: -13px;
  width: 100px;
}


// Landscape phone to portrait tablet
@media (max-width: 768px) {
  .size-8 .cell {
    font-size: 200%;
  }
  .size-16 .cell {
    font-size: 100%;
  }
  .size-32 .cell {
    font-size: 60%;
    line-height: 10px;
  }
}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 980px) {
  .size-8 .cell {
    font-size: 300%;
  }
  .size-16 .cell {
    font-size: 170%;
  }
  .size-32 .cell {
    font-size: 110%;
  }
}

@media (min-width: 980px) and (max-width: 1200px) {
  .size-8 .cell {
    font-size: 400%;
  }
  .size-16 .cell {
    font-size: 230%;
  }
  .size-32 .cell {
    font-size: 150%;
  }
}

// Large desktop
@media (min-width: 1200px) {
  .size-8 .cell {
    font-size: 500%;
  }
  .size-16 .cell {
    font-size: 330%;
  }
  .size-32 .cell {
    font-size: 180%;
  }
}